# 필수 패키지
editdistance==0.8.1
sacrebleu==1.5.1
torch==2.5.1
torchaudio==2.5.1
peft==0.3.0
soundfile==0.12.1
librosa==0.10.2.post1
transformers==4.48.2  # 호환성 문제 해결
sentencepiece==0.1.97
accelerate==1.3.0
bitsandbytes==0.44.0    # peft 오류 문제 해결 버전
gradio==4.44.0
wandb==0.19.1
omegaconf==2.3.0
tensorboardX==2.6.2.2
ruff==0.6.8
pre-commit==3.8.0
more-itertools==10.5.0
aac-metrics==0.5.4
python-dotenv==1.0.1

# CED 관련
einops==0.8.0
torch_audiomentations==0.12.0
fire==0.7.0
h5py==3.12.1
loguru==0.7.3
numpy==1.25.2  # ComplexWarning 문제 해결
packaging==24.2
pandas==2.2.3
pytorch_ignite==0.5.1  # torch와 호환성 개선
PyYAML==6.0.1
scikit_learn==1.3.0
tqdm==4.67.1

# Flash Attention 관련
flash-attn==2.7.4.post1